Build/
Conf/
ImageResources/bootpayload.bin
Mu-*.img
Platforms/Samsung/starltePkg/__pycache__/
Platforms/Samsung/beyond1ltePkg/__pycache__/
Platforms/Samsung/a10Pkg/__pycache__/
Platforms/Samsung/a30Pkg/__pycache__/
Platforms/Samsung/j4ltePkg/__pycache__/
Platforms/Samsung/j2coreltePkg/__pycache__/
Platforms/Samsung/j7Pkg/__pycache__/
boot.img
Mu-*.tar
